/*-------------------------------------  Head page  ------------------------------------------*/

.head {
  grid-column: 2 / span 4;
  @include var(color, clr-ntrl-min);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;

  &__phone,
  &__call {
    opacity: 0.6;
    position: relative;
    transition: opacity 0.25s;

    &:hover {
      opacity: 0.8;
    }
  }

  &__call::after {
    @include pseudo;
    top: 20px;
    width: 100%;
    border: 1px dashed currentColor;
  }
}

.nav {
  @extend .head;
  grid-row: 2;

  &__link {
    transition: color 0.25s;

    &:hover {
      // opacity: 0.7;
      @include var(color, clr-primary);
      text-shadow: 0 0 1px white;
    }
  }
}