/*----------------------------------- Tags -----------------------------------------------*/

h1 {
  font-size: $fs-h1;
  font-weight: 300;
  text-transform: uppercase;
}

h2 {
  font-size: $fs-h2;
  font-weight: 400;
}

#gallery-point,
#consult-point,
#feedback-point,
#contact-point {
  position: absolute;
  top: -80px;
}